<h3> Hello, <%=current_user.username%> </h3>

<p> Your List of Credits Follows: </p>

<% current_user.credits.order("credit_name").each do |credit|%>

<li> Credit Name <a href= "/credits/<%=credit.id%>"><%=credit.credit_name%> </a> <p> Credit Sector: <%=credit.sector%>,      Credit Rating: <%=credit.rating%></p></li>

<%end%>

</br>

<label> Select a Credit to Edit or Delete </label>
