<h3> Hello, <%=current_user.username%> </h3>

<h4 style = "color:red;"><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h4>



<h5> Credit Name: <%= @credit.credit_name %> </h5> <h5>Credit Sector: <%= @credit.sector %> </h5>
<h5> Credit Rating: <%= @credit.rating %> </h5>

<h5> Transaction Name(s): </h4>

  <%@credit.transactions.each_with_index do |transaction, index|%>
  <ul> <%= index + 1 %>. <a href="/transactions/<%=transaction.id%>"> <%=transaction.name%>, <%=transaction.series%> </a></ul>
  <%end%></br>
<p> To Edit or Delete a Transaction, Select the Transaction </p>


<form action= "/credits/<%=@credit.id%>/delete" method = "POST">
  <input id = "hidden" type = "hidden" name = "_method" value = "delete">
</input> </br>
</br></br></br>
<label> Select to Delete This Credit:</label>
<input type = "submit" value = "Delete Credit"></br></br>
</form>

<label> To Edit This Credit Select: </label>
<a href ="/credits/<%=@credit.id%>/edit"> "Edit Credit"</a>
</br>
</br></br>

<label> To Create a New Transaction for Existing Credits: </label>
<a href ="/transactions/new"> "New Transaction" </a>
</br>

<label> To Create a New Transaction with a new Credit </label>
<a href ="/credits/new"> "New Transaction with New Credit" </a>
</br>



</br></br></br>
