
<h3> <%= current_user.username%>'s New Transaction</h3>

<h4 style = "color:red;"><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h4>

</br> </br>


<form action = "/transactions" method = "POST" >

  <label> Choose an Existing Credit:</label>

   <p><%current_user.credits.each do |credit|%></p>
      <input type="radio" name = "transaction[credit_id]" id="<%=credit.credit_name%>"  value ="<%=credit.id%>">

          <input type="hidden" name="credit[credit_name]" value="<%=credit.credit_name%>">
            <input type="hidden" name="credit[sector]" value="<%=credit.sector%>">
            <input type="hidden" name="credit[rating]" value="<%=credit.rating%>">

    <%=credit.credit_name%>,   <%=credit.sector%>,  <%=credit.rating%></input></br>
    <%end%>

  </br></br>

  <label> Create a New Transaction: </label>
</br></br>
<label> Transaction Name <input type= "text" name ="transaction[name]"></label></br></br>
<label> Series <input type= "text" name = "transaction[series]"></label> </br></br>
<label> Par <input type= "integer" name = "transaction[par]"></label> </br></br>


  <input type= "submit" value = "New Transaction">

</form>
